.nav{
    grid-area: n;
    background-color: bisque;
  }

.item{
    color: rgb(196, 230, 241);
}

.item a{
    text-decoration: none;
}

.item a:hover {
    color: lightblue;
    text-decoration: none;
}